1. Import libraries

In [98]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.preprocessing import StandardScaler

2. Load datasets

In [101]:
# Define the file path
path = r'C:\Users\Jacques\OneDrive\Documents\Data Analytics course\Data Specialization\Part 1\Exercise 1.2'

In [103]:
# Read the CSV file
df = pd.read_csv(os.path.join(path, 'Dataset-weather-prediction-dataset-processed.csv'))

In [104]:
# Reset index to default integers and store old index as a column
df.reset_index(inplace=True)

In [107]:
# Rename the 'index' column to 'id'
df.rename(columns={'index': 'id'}, inplace=True)

3. Check for missing values

In [110]:
# Quick checks
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Columns: 171 entries, id to VALENTIA_temp_max
dtypes: float64(145), int64(26)
memory usage: 29.9 MB

id                     0
DATE                   0
MONTH                  0
BASEL_cloud_cover      0
BASEL_wind_speed       0
                      ..
VALENTIA_snow_depth    0
VALENTIA_sunshine      0
VALENTIA_temp_mean     0
VALENTIA_temp_min      0
VALENTIA_temp_max      0
Length: 171, dtype: int64

In [112]:
# Remove rows with NaN values
df.dropna(inplace=True)

4. Scaling

In [115]:
# Identify numeric columns to scale â€” exclude 'id', 'Date', and 'Month'
cols_to_scale = df.select_dtypes(include=np.number).columns.drop(['id', 'DATE', 'MONTH'], errors='ignore')

In [117]:
# Create scaler
scaler = StandardScaler()

In [119]:
# Scale only the numeric columns we selected
df_scaled_values = scaler.fit_transform(df[cols_to_scale])

In [121]:
# Create a copy of the original df to preserve all columns
df_scaled = df.copy()

In [123]:
# Replace only the scaled columns with their scaled values
df_scaled[cols_to_scale] = df_scaled_values

In [125]:
# Export dataframe as .csv file
df_scaled.to_csv(os.path.join(path, 'DataSet_scaled.csv'), index=False)

df_scaled.head()

,id,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,0,19600101,1,0.660514,-0.02793,0.826097,-0.001949,-1.101066,-0.265148,-0.179228,...,-0.443701,0.761754,-1.299744,-0.806427,-0.088407,-0.024706,0.372147,-0.668215,-0.519743,-0.752237
1,1,19600102,1,0.244897,-0.02793,0.735760,-0.001949,-1.058108,1.658760,-0.179228,...,0.783085,1.183580,-1.262455,-1.042055,0.503361,-0.024706,-0.829285,-0.548046,-0.629054,-0.407141
2,2,19600103,1,1.076130,-0.02793,1.277781,-0.001949,-1.251420,0.155707,-0.179228,...,0.783085,1.183580,-0.432779,-1.136306,-0.396127,-0.024706,-1.009500,-0.067372,0.054135,-0.177078
3,3,19600104,1,-1.001953,-0.02793,1.458455,-0.001949,-0.821838,-0.445514,-0.179228,...,0.783085,0.480538,0.387574,-1.183432,0.669056,-0.024706,-1.039536,-0.998679,-0.164486,-0.838511
4,4,19600105,1,0.244897,-0.02793,1.729466,-0.001949,-0.746661,-0.164944,-0.179228,...,-1.670486,-0.363113,1.729970,-0.794645,-0.490810,-0.024706,0.672505,-1.509396,-1.339569,-1.471186